body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.header{
    background: #eef0f3 url(/images/Photo.png) center no-repeat;
    background-size: cover;
    position: relative;
    max-height: 1000px;
    margin: 0;
    padding-top: 55px;
    position: relative;
    overflow: hidden;
}

.header__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    
    
}

.header__top--left{
padding-left: 45px;
position: relative;
}

.header__top--left::before{
    font-family: 'icomoon';
    content: "\f0c9";
    position: absolute;
    left: 0;
    width: 20px;
    height: auto;
}

.left a + a{
    padding-left: 37px;
    
}
.left a{
    color: #26272d;
    font-size: 16px;
    transition: color .2s linear;
}
.left a:hover{
    color: #a9aaaa;
    font-size: 16px;
}


.right a{
    padding-right: 27px;
    color: #26272d;
    font-size: 16px;
    transition: color .2s linear;
}
.right a:hover{
    color: #a9aaaa;
    font-size: 16px;
}

.right a:last-child{
    background-color: #267df4;
    color: #fff;
    padding: 12px 22px 12px 45px;
    border-radius: 30px;
    position: relative;
}

.right a:last-child::before{
    position: absolute;
    font-family: 'icomoon';
    content: "\f179";
    left: 0;
    z-index: 1;
    font-size: 26px;
    margin-left: 13px;
    margin-top: -5px;
    
}

.intro{
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
}

.intro h1{
    font-size: 62px;
    margin-bottom: 40px;
}
.intro__suptitle{
    color: #8c8f94;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 60px;
}

.header__btn{
    position: relative;
    color: #26272d;
    font-size: 16px;
    padding:17px 55px 17px 65px;
    border: 2px solid #e6e8eb;
    border-radius: 30px;
    margin-bottom: 60px;
    transition:  color .2s linear ;
    background: rgb(38, 39, 45, 0);
    transition: background .5s linear ;
}

.header__btn::before{
    position: absolute;
    font-family: 'icomoon';
    content: "\f04b";
    left: 40px;
}

.header__btn:hover{
    background: rgb(38, 39, 45, .5);
    color: #fff;
}

.phone{
   margin-top: 60px;
}

.preim{
    padding: 120px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.preim__item{
    width: 50%;
    padding: 0 50px;
    border-bottom: 1px solid #f4f4f4;
}

.preim__title{

    margin: 40px 0;
    color: #26272d;
    font-size: 26px;
    line-height: 34px;
}

.preim__text{
    color: #8c8f94;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 125px;
}

.first{
    margin-bottom: 35px;
}

.day__item{
    width: 50%;
    padding-top: 130px;
}
.day__inner{
    display: flex;
    flex-wrap: wrap;
}

.day__photo{
    position: relative;
    width: 100%;
}

.iphone{
    position: absolute;
    top: 0;
    right: 0;
}

.day__content{
    padding-left: 100px;
    padding-top: 130px
}

.day__title{
    color: #26272d;
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 70px;
}

.day__text{
    color: #8c8f94;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 72px;
}

.btn__big{
    font-size: 16px;
    color: #fff;
    background-color: #267df4;
    padding: 18px 85px 18px 30px;
    border-radius: 30px;
    position: relative;
}

.btn__big::before{
    position: absolute;
    content: "\f178";
    font-family: 'icomoon';
    right: 25px;
    

}

.btn__small{

    color: #26272d;
    margin-left: 20px;
    border: 1px solid  #e6e8eb;
    padding: 18px 30px;
    border-radius: 30px;
}
.almost{
    position: relative;
}

.almost__inner{
    margin-top: 440px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 220px;
  
}

.almost__content{
    width: 40%;
}

.almost__title{
    font-size: 42px;
    line-height: 52px;
    color: #26272d;
    margin-bottom: 60px;
}

.almost__text{
    color: #8c8f94;
    font-size: 20px;
    line-height: 28px;
   
}
.part{
    margin: 60px 0 20px ;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #26272d;
    font-weight: 700;
}

.almost__part img{
    margin-right: 25px;
}

.almost__photo{
    width: 40%;
    
}
.almost__img{
    position: absolute;
    top: 0;
    right: 0;
}

.smart{
    min-height: 1190px;
    background-color: #f5f5f8;
    padding: 130px 0;
    text-align: center;
}

.smart__title{
    font-size: 42px;
    line-height: 52px;
    color: #26272d;
    
}

.smart__title::after{
    display: block;
    content: "";
    height: 2px;
    width: 50px;
    background-color: #267df4;
    margin: 45px auto 40px ;
}

.smart__sup{
    text-transform: uppercase;
    color: #8c8f94;
    font-style: 12px;
    line-height: 22px;
    margin-bottom: 40px;
}




.smart__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.smat__item{
    width: 20%;
}

.smart__item img{
    width: 100%;
    height: auto;
}

.smart__sup--upper,
.smart__sup--under{
    color: #3a3d4b;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 40px;

}

.smart__title--upper{
    font-size: 42px;
    line-height: 52px;
    color: #3a3d4b;
    font-weight: 700;
    margin-bottom: 40px;
}

.form{
    width: 500px;
    margin: 0 auto;
    border: 1px solid #cbcbce;
    border-radius: 30px;
    margin-bottom: 60px;
}

.form__footer{
    width: 570px;
    margin-bottom: 25px;
}

.mail{
    border: none;
    width: 300px;
    height: 50px;
    background: transparent;
    outline: none;
    padding-left: 35px;
}

.form__btn{
    background-color: #6fc754;
    color: #fff;
    font-size: 16px;
    padding: 14px 60px 14px 30px;
    border-radius: 30px;
    outline: none;

    cursor: pointer;
    border: none;
    margin-left: 15px;

    position: relative;
}

.form__btn::after{
    position: absolute;
    content: "\f178";
    font-family: 'icomoon';
    right: 25px;
    top: 16px;

}

.form__btn--foot{
    margin-left: 108px;
    padding: 14px 40px 14px 40px;
}

.form__btn--foot::after{

    display: none;
}
.app{
    display: inline-block;
}

.app__btn{
    background-color: black;
    padding: 10px 40px 10px 60px;
    max-width: 210px;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
}

.app__btn::after{
    position: absolute;
    font-family: 'icomoon';
    content: "\f179";
    left: 0;
    z-index: 1;
    font-size: 40px;
    margin-left: 17px;
    margin-top: -42px;
    color: #fff;
}

.app__small,
.app__big{
    color:#fff;
}

.app__big{
    font-size: 23px;
}

.content{
    max-width: 570px;
    margin: 0 auto;
    padding: 130px 0;
    text-align: center;

}

.content__photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
}
.big__photo{
    box-shadow: 0px 40px 40px 0px rgba(92, 95, 101, 0.28);
    border-radius: 50%;
    
}


  .content__photo::before{
      position: absolute;
      display: block;
      content: "";
      width: 30px;
      height: 30px;
      border-left: 2px solid #d4d4d5;
      border-top: 2px solid #d4d4d5;
      left: -230px;
      transform: rotate(-45deg);

  }

  .content__photo::after{
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    border-left: 2px solid #d4d4d5;
    border-top: 2px solid #d4d4d5;
    left: 800px;
    transform: rotate(135deg);

}



  .content__title{
      color: #26272d;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 40px;
  }

  .content__text{
      color: #8c8f94;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 30px;
  }

  .vibor{
      min-height: 900px;
      background: #f4f4f5;
      padding-top: 180px;
  }

  .choose{
      display: flex;
      flex-wrap: wrap;
  }

  .choose__left{
      margin-top: 20px;
      width: 30%;
  }

  .choose__left--title{
      color: #26272d;
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 60px;
  }

  .you{
      color: #26272d;
      font-size: 12px;
      line-height: 22px;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 700;
  }
  .check{
      width: 260px;
      height: 50px;
      border-radius: 30px;
      border: 1px solid  rgb(38, 41, 44, .5);
      padding: 3px;
      margin-bottom: 60px;
  }

  .check1,
  .check2{
      display: inline-block;
      margin-top: -2px;
  }

  .check1{
      color: #26292c;
      font-size: 16px;
      padding: 13px 38px;
      background-color: #fff;
      border-radius: 30px;
      box-shadow: 0px 5px 20px 0px rgba(61, 61, 62, 0.15),0px 30px 50px 0px rgba(92, 95, 101, 0.28);
  }

  .check2{
      margin-left: 30px;
      font-size: 16px;
      color: rgb(38, 41, 44, .5);
  }

  .choose__left--text{
      color: #8c8f94;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 35px;
  }

  .talk{
      font-size: 14px;
      line-height: 24px;
      color: #8c8f94;
  }

  .talk a{
      text-decoration: underline;
  }

  .choose__right{
      width: 57%;
      display: flex;
      margin-left: 140px;
      align-items: center;
  }

  .right__item{
    
    width: 340px;
    height: 510px;
    background-color: #e8e8ea;
    margin-left: 3px;
    border-radius: 20px;
    transition: height .2s linear;
    text-align: center;
    padding: 40px 0;
    display: flex;
      flex-direction: column;
      justify-content: center;
  }

  

  .right__item:hover{

    background-color: #fff;
    height: 550px;
    box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
    z-index: 1;
  }

.right__item--title{
    color:#26292c;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 25px;
}
.free1{
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    color: #26272d;
    border: 1px solid #d4d4d5;
    padding: 10px 20px;
    border-radius:20px;
    font-weight: 700;
    margin-bottom: 55px;
}

.right__item--text{
    color: #8c8f94;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 45px;
}
.gal{
    color: #26292c;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 23px;
}
.gal1{
    margin-bottom: 67px;
}


.buy{
    background-color: rgb(38, 125, 244, 0);
    color:#267df4;
    padding: 13px 65px;
    font-size: 16px;
    border: 1px solid #267df4;
    border-radius: 30px;
    margin-bottom: 40px;
    transition: background-color .5s linear;
}

.right__item:hover .buy{
    border: none;
    color: #fff;
    background-color: rgb(38, 125, 244, 1);
}

  

footer{
    padding: 85px 0 115px;
} 

.footer__subs{
    text-align: center;
}

.subs__title{

    color: #3a3d4b;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 40px;
}

.subs__sup{
    color: #8c8f94;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 170px;
}

.footer__col{
    display: flex;
    flex-wrap: wrap;
}


.col__item{
    width: 50%;
}

.col__left{
    width: 270px;
    text-align: left;
}


.col__text--left{
    color: #8c8f94;
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0;
}

.app__btn--foot{
    margin-left: 0;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
}
.app__btn--foot::after{

    position: absolute;
    font-family: 'icomoon';
    content: "\f179";
    left: 0;
    z-index: 1;
    font-size: 40px;
    margin-left: 17px;
    margin-top: -42px;
    color: #fff;
}
    


.col__right{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 470px;
}

.col__right--title{
    color: #26272d;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.ul li{
    color: #8c8f94;
    font-size: 16px;
    line-height: 36px;
    
}
.social__item{
    display: inline-block;
    padding: 0 10px;
}

.twitt::before{
    font-family: 'icomoon';
    content: "\f099";
    color: #bdbec0;
    font-size: 16px;
}

.face::before{
    font-family: 'icomoon';
    content: "\f09a";
    color: #bdbec0;
    font-size: 16px;
}

.google::before{
    font-family: 'icomoon';
    content: "\f0d5";
    color: #bdbec0;
    font-size: 16px;
}

.per::before{
    font-family: 'icomoon';
    content: "\f231";
    color: #bdbec0;
    font-size: 16px;
}
.link::before{
    font-family: 'icomoon';
    content: "\f0e1";
    color: #bdbec0;
    font-size: 16px;
}



.copy{
    border-top: 1px solid #f4f4f4;
    padding: 36px 0;
    display: flex;
    justify-content: space-between;
}
.copy__text{
    font-size: 14px;
    line-height: 24px;
    color: #8c8f94;

}

.copy__love{
    padding-right: 145px;
    position: relative;
    font-size: 9px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.love{
    position: absolute;
    top: -14px;
    right: 0;
}